name: Cache

on:
  push:
    branches:
      - main
    paths:
      - '**/*.lua'
      - '.github/workflows/cache.yml'

jobs:
  create-cache:
    name: Create cache
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - run: date +%F > todays-date

      - name: Cache Neovim
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3.5.0
        with:
          path: _neovim
          key: ${{ runner.os }}-v0.10.0-${{ hashFiles('todays-date') }}

      - name: Cache cargo
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3.5.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tree-sitter-cli

      - name: Install Neovim
        run: |
          test -d _neovim || {
            mkdir -p _neovim
            curl -sL https://github.com/neovim/neovim/releases/download/v0.10.0/nvim-linux64.tar.gz | tar xzf - --strip-components=1 -C "${PWD}/_neovim"
          }

      - name: Install tree-sitter-cli
        run: |
          if ! command -v tree-sitter &> /dev/null; then
            cargo install tree-sitter-cli
          fi
