name: Tests

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  x64-ubuntu:
    name: X64-ubuntu
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - run: date +%F > todays-date
      - name: Restore cache for today's nightly.
        uses: actions/cache@v3
        with:
          path: _neovim
          key: ${{ runner.os }}-v0.10.0-${{ hashFiles('todays-date') }}

      - name: Prepare
        run: |
          sudo apt-get update
          sudo apt-get install -y fd-find
          cargo install tree-sitter-cli
          test -d _neovim || {
            mkdir -p _neovim
            curl -sL https://github.com/neovim/neovim/releases/download/v0.10.0/nvim-linux64.tar.gz | tar xzf - --strip-components=1 -C "${PWD}/_neovim"
          }

      - name: Run tests
        run: |
          export PATH="${PWD}/_neovim/bin:${PATH}"
          export VIMRUNTIME="${PWD}/_neovim/share/nvim/runtime"
          make test
